<!DOCTYPE html>
<html lang="en" ng-app="todo" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BAM Stack Todo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div class="container" ng-controller="mainController">
            <!-- HEADER AND TODO COUNT -->
            <div class="jumbotron text-center">
                <h1>Let's Do Some Shit!
            </div>

            <!-- FORM TO CREATE TODOS -->
            <div id="todo-form" class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <form>
                        <div class="form-group">
                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                            <input type="text" class="form-control input-lg text-center" ng-model="formData.text">
                        </div>
                        <!-- createToDo() WILL CREATE NEW TODOS -->
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                    </form>
                </div>
            </div>

            <!-- TODO LIST -->
            <div id="todo-list" class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="checkbox" ng-repeat="todo in todos">
                        <input type="button" class="btn btn-danger" value="X" ng-click="deleteTodo(todo._id)">
                        <label style="font-size: large;">{{todo.text}}</label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
